{% extends 'base.html' %}

{% block title %}Home - Django Bootstrap5 Template{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid bg-image text-secondary" style="margin-top: 56px;">
        <div class="container">
            <h1 class="display-4 ">Welcome to the Home Page!</h1>
            <p class="lead">This is a sample home page using the Django Bootstrap5 template.</p>
            <p>You can customize this page with your own content.</p>
        </div>
    </div>
{% endblock %}